.service{
    background: var(--black);
    padding: 5%;
    text-align: center;
}
.service-title,.service-sub-title{
    color: var(--orange-sec);
    margin-bottom: 1%;
}

.services{
    display: flex;
}
.services-list{
    width: 100%;
}
.services-options{
    display: grid;  
    grid-template-rows: repeat(9,1fr);
    grid-template-columns: repeat(2,auto);
    row-gap: 5px;
}
.services-option{
    display: flex;
    align-items: center;
    color: var(--white);
    font-family: Poppins;
    font-size: 10px;
    font-weight: 600;
    gap: 5px;
}
.services-option .check{
    font-size: 6px;
    color: var(--green);
}
.services-mechanic{
    position: relative;
    object-fit: cover;
    width: 30%;
    border-radius: 6px;
    box-shadow: 0px -1px 68px 0px rgb(120 116 116 / 75%);
}

