.plans{
    position: relative;
    padding: 5%;
}
.plans-title{
    margin-bottom: 5%;
    text-align: center;
}
.plans-img{
    width: 100%;
    height: 550px;
}

.plans-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
}
