.contacts{
    display: flex;
    padding: 5%;
    background: var(--gradient);
}
.locations,.media{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 5px;
}

.location-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contact-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 500;
}
.media-list{
    display: flex;
    gap: 20px;
    margin-top: 2%;
}